/* light.css */
:root.theme-light {
  /* Светлая тема */
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --card-title-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --page-background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --card-title-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --page-background-image: url("../images/cover-image-light.png");
  }

  .header__decor {
    display: none;
  }

  .header__title,
  .footer__title {
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .section__title {
    color: var(--text-color);
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .card__title,
  .title-lol,
  .section__subtitle-text {
    color: var(--card-title-color);
    background-color: var(--accent-color);
  }

  .card__text {
    color: var(--text-color);
  }

  .header__text {
    color: var(--card-title-color);
    background-color: var(--accent-color);
  }

  .decorated-zone::before {
    border-top: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
  }

  .header__theme-menu-list {
    color: var(--text-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--text-color);
  }

  .header__theme-menu-button:focus {
    border: none;
    border-bottom: 1px solid var(--text-color);
    outline: none;
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--button-hover-color);
  }

  .header__theme-menu-button:disabled {
    pointer-events: none;
  }
}

:root.theme-light .header__decor {
  display: none;
}

:root.theme-light .header__title,
:root.theme-light .footer__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

:root.theme-light .section__title {
  color: var(--text-color);
  background-color: transparent;
  border: none;
  padding: 0;
}

:root.theme-light .card__title,
:root.theme-light .title-lol,
:root.theme-light .section__subtitle-text {
  color: var(--card-title-color);
  background-color: var(--accent-color);
}

:root.theme-light .card__text {
  color: var(--text-color);
}

:root.theme-light .header__text {
  color: var(--card-title-color);
  background-color: var(--accent-color);
}

:root.theme-light .decorated-zone::before {
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

:root.theme-light .decorated-zone::after {
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

/* Светлая тема: цвета кнопок меню темы */
:root.theme-light .header__theme-menu-list {
  color: var(--text-color); 
}

:root.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--text-color); 
}

:root.theme-light .header__theme-menu-button:focus {
  border: none;
  border-bottom: 1px solid var(--text-color); 
}

:root.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

:root.theme-light .header__theme-menu-button:disabled {
  pointer-events: none;
}

