/* light.css */
:root.theme-light {
  /* Светлая тема */
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --card-title-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --page-background-image: url("../images/cover-image-light.png");
}

:root.theme-light .header__decor {
  display: none;
}

:root.theme-light .header__title,
:root.theme-light .footer__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

:root.theme-light .section__title {
  color: var(--text-color);
  background-color: transparent;
  border: none;
  padding: 0;
}

:root.theme-light .card__title,
:root.theme-light .title-lol,
:root.theme-light .section__subtitle-text {
  color: var(--card-title-color);
  background-color: var(--accent-color);
}

:root.theme-light .card__text {
  color: var(--text-color);
}

:root.theme-light .header__text {
  color: var(--card-title-color);
  background-color: var(--accent-color);
}